body {
  text-transform: uppercase;
  color: #33691E;
}



h1 {
  color: #33691E;
}
.card{
  font-size: 2rem;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.card .clock{
  text-align: center;
  padding:0.2rem;

}
.btn{
 transition: all ease-in-out  0.3s;
}
.btn:focus{
  outline: none;
  box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2);

}
